PORT=INPUT_PORT_HERE
MONGODB_CONNECTION_STRING=INPUT_MONGODB_CONNECTION_STRING_HERE

CLIENT_ID=CLIENT_ID_HERE
CLIENT_SECRET=CLIENT_SECRET_HERE
AUTHORITY=https://login.microsoftonline.com/TENANT_ID_HERE

CONTRACTORS_SECURITY_GROUP_ID=OBJECT_ID_OF_SECURITY_GROUP_IN_AZURE

ALLOWED_ORIGINS="ALLOWED_ORIGIN ALLOWED_ORIGIN"

SENDER_EMAIL_ADDRESS=EMAIL_ADDRESS_HERE
COLLECTOR_EMAIL_ADDRESS=COLLECTOR_ADDRESS_HERE
